@font-face {
    font-family:'inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

:root{
    --Green:hsl(75, 94%, 57%);
    --White:hsl(0, 0%, 100%);
--Grey:hsl(0, 0%, 20%);
    --DarkGrey:hsl(0, 0%, 12%);
--OffBlack:hsl(0, 0%, 8%);
}

body{
    font-family:'inter';
    background-color:var(--OffBlack);
    color:#fff;
}

.container{
    background-color:var(--DarkGrey);
    max-width:375px;
    margin:150px auto;
    border-radius:10px;
}

/** HEADING STYLING START **/

.header{
    padding:20px 20px;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.img{
    border-radius:100px;
    width:6rem;
}

.spce{
    padding-top:20px;
}

.heading-one{
    font-family:'inter';
    font-size:1.4rem;
    color:var(--White);
}

.hd-p{
    font-size:14px;
    font-weight: 600;
    padding-top:10px;
    color:var(--Green);
}

/** END OF HEADING STYLING **/

/** SECTION STYLING START**/

.section{
    align-items:center;
    justify-content:center;
    text-align:center;
}

.sctn-p{
    font-size:14px;
}

.s-links{
    margin:10px 10px;
    padding:10px;
   
    
}

.lnk{
    background-color:var(--Grey);
    margin:10px;
    padding:13px;
    border-radius:7px;

}


.lnk:hover{
background-color:var(--Green);

}

.links{
    font-weight: 600;
    text-decoration:none;
    color:var(--White);
    padding:10px 20px;
}